#title {
    margin-bottom: 3%;
    font-weight: 600;
    margin-top: 2%;
    font-size: 500%;
    margin-left: 3%;
    color: aqua;
}
#titlebox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    column-gap: 15.0%;
}



#box1 {
    display: flex;
    border: 5px solid white;
    min-height: 33%;
    min-width: 33%;


}
#box2 {
    display: flex;
    border: 5px solid white;
    min-height: 33%;
    min-width: 33%;
    align-items: center;
    justify-content: center;


}
#box3 {
    display: flex;
    border: 5px solid white;

    min-height: 33%;
    min-width: 33%;

}

#bigbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 50%;
    min-width: 50%;

}


#placeholder {
    display: flex;
    height: 70%;
    width: 50%;
}

#pages1 {
    display: flex;

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 250%;
    font-weight: 400;
}
#line1 {
    color: azure;
    justify-content: center;
    align-items: center;

}
#logo {
    height: 400px;
    width: 500px;
    padding: 50px;
    margin-left: 70%;
    

}
img {
    max-width: 100%;
    max-height: 100%;
}
#headcontainer {
    display: flex;
    flex-wrap:nowrap;
    

}
header {
    display: flex;
    flex-direction: row;
}

#login {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    width: 200%;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 150%;
    color: white;
    font-weight: 500;
    font-family: system-ui;
    transition: .5s;
    margin-top: 2%;

}

#login:hover {
    background: white;
    color: black;
}

#blake {
    width: 75%;
    height: 75%;
    border-radius: 25px;
    
}
#comp1 {
    width: 75%;
    height: 75%;
    border-radius: 25px;
    margin-top: 50px;
    

}
#line2 {
    display:flex;
    color: azure;
}
#win {
    width: 50%;
    height: 50%;
    border-radius: 25px;
}

/*custom scrollbar*/

::-webkit-scrollbar {
    width: 2em;
}
/* the background for the scrollbar
::-webkit-scrollbar-track {
} 
*/
::-webkit-scrollbar-thumb {
    background: hsl(240, 0%, 43%);
    border-radius: 30px;
    border: 8px solid rgb(54, 54, 54);
    width: 5em;
    height: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(192, 5%, 62%);
}

/*custom scrollbar*/

body {
    margin: 0;
    font-family: system-ui;
    background-color: rgb(54, 54, 54);
}