.bodycontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bodycontainer img {
    border-radius: 20px;
    height: 10%;
    width: 90%;
}

.bodycontainer div {
    font-size: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
}

/*custom scrollbar*/

::-webkit-scrollbar {
    width: 2em;
}
/* the background for the scrollbar
::-webkit-scrollbar-track {
} 
*/
::-webkit-scrollbar-thumb {
    background: hsl(240, 0%, 43%);
    border-radius: 30px;
    border: 8px solid rgb(54, 54, 54);
    width: 5em;
    height: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(192, 5%, 62%);
}

/*custom scrollbar*/