.bodycontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bodycontainer img {
    border-radius: 20px;
    height: 10%;
    width: 100%;
}

.bodycontainer div {
    font-size: 100%;
    font-weight: 100;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.bodycontainer h1 {
    color: white;
    text-align: center;
    display: flex;
    font-weight: normal;
    justify-content: center;

}

.bodycontainer h2 {
    color: rgb(236, 249, 250);
    font-size: 200%;
    font-weight: 100 bold;
    border-bottom: 1px solid white;
}



























/*custom scrollbar*/

::-webkit-scrollbar {
    width: 2em;
}
/* the background for the scrollbar
::-webkit-scrollbar-track {
} 
*/
::-webkit-scrollbar-thumb {
    background: hsl(240, 0%, 43%);
    border-radius: 30px;
    border: 8px solid rgb(54, 54, 54);
    width: 5em;
    height: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(192, 5%, 62%);
}

/*custom scrollbar*/