#title {
    margin-bottom: 3%;
    font-weight: 600;
    margin-top: 2%;
    font-size: 500%;
    margin-left: 3%;
    color: aqua;
    background: linear-gradient(90deg,#00dbde,#be2c93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#titlebox {
    display: flex;
    align-items: center;
    column-gap: 2.0%;
    background-color: rgba(61, 56, 56, 0.30);
}

html {
    overflow: hidden;
}

#box1 {
    display: flex;
    border: 5px solid white;
    min-height: 33%;
    min-width: 33%;


}
#box2 {
    display: flex;
    border: 5px solid white;
    min-height: 33%;
    min-width: 33%;
    align-items: center;
    justify-content: center;


}
#box3 {
    display: flex;
    border: 5px solid white;

    min-height: 33%;
    min-width: 33%;

}

#bigbox {
    display: flex;
    flex-direction: row;
    min-height: 50%;
    min-width: 50%;
    border: 5px solid rgb(206, 34, 34);
}


#placeholder {
    display: flex;
    height: 70%;
    width: 50%;
}

#pages1 {
    text-decoration: none;
    color: black;
    font-size: 300%;
    font-weight: 600;
}
